<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortner</title>
    <style>
        body {
            background-color:darkslategray;
            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
        }
        h1 {
            color: white;
            text-align: center;
            animation: fadeIn 1.3s ease-in-out;
        }
        @keyframes fadeIn {
            from { color:#83b884; }
            to { color: white; }
        }
        form {
            color: white;
            text-align: center;
            margin-top: 2vh;
            
        }
        lable{
            font-size: 19px;
        }
        input {
            width: 25%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            border-radius: 10px;
        }
        button {
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 8px;
            border: none;
            cursor: pointer;
            /* border: 1px solid whitesmoke; */
            border-radius: 10px;
        }
        #reset {
            margin-left: 0;
            background-color: #9d1f16;
        }
        #shorturl {
            font-size: 20px;
            color: white;
            text-align: center;
            margin-top: 2vh;
            transition: 1s;
        }
        #shorturl a {
            color:darkturquoise;
            text-decoration: none;
            text-decoration:underline;
            transform: scale(1.1);
        }
    </style>
</head>
<body>
    <h1>URL Shortner</h1>
    <hr>
    <br>
    <form method="post", action="/url">
        <lable>Enter your URL: &nbsp;</lable>
        <input type="text" placeholder="https://www.example.com" name="url">
        <button id="submit" type="submit">Shorten</button>
        <button id="reset" type="button" onclick="window.location.href = '/'">Reset</button>
    </form>
    <br>
    <% if (locals.id) { %>
        <p id="shorturl">Shorten URL:&nbsp;<a href="/url/<%= id%>" target="_blank">http://localhost:8001/url/<%= id%></a></p>
    <% } %>
</body>
</html>